/**
 * Example account signup form.
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 620px;
}
form {
  display: block;
  width: 500px;
  padding: 50px;
  margin: auto;

  background-color: #ccddaa;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,235,0.9)), to(rgba(20,20,20,0.0)));
  background-image: -moz-linear-gradient(90deg, rgba(255,255,235,0.9), rgba(20,20,0,0.0));

  border: 5px solid #889966;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #112200;
  -moz-box-shadow: 0 0 0.5em #112200;
  -o-box-shadow: 0 0 5px #112200;
  box-shadow: 0 0 5px #112200;
}

label {
  float: left;
  height: 2em;
  line-height: 2em;
  width: 150px;
  text-align: right;
}

input,select {
  margin-left: 170px;
  display: block;
  clear: right;
  padding: 5px;
  font-weight: bold;
}

input:invalid,select:invalid {
  color: red;
  -webkit-box-shadow: inset 1px 1px 7px red;
  -moz-box-shadow: inset 0 0 7px red;
  box-shadow: inset 0 0 7px red;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}
fieldset[hidden] {
  display: none;
}
legend {
  display: block;
  padding: 5px;
  border: 5px solid #889966;
  border: 5px solid #889966;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 1em;
  border-radius: 10px;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: #334400;
  text-shadow: 0px 0px 4px #999999;
  top: -77px;
  background-color: #ccddaa;
}
